[workspace]
members = [
    ".",
    "jira-parser"
]

[package]
name = "sidenotes"
version = "0.1.0"
edition = "2018"

[features]
default = ["github", "jira", "joplin", "gitlab", "taskwarrior", "upsource"]
github = ["octorust", "async-compat"]
jira = ["surf", "base64", "jira-parser"]
joplin = ["surf"]
taskwarrior = ["task-hookrs"]
upsource = ["surf", "serde_repr"]

[dependencies]
tracing = "0.1"
anyhow = "1"
druid = { git = "https://github.com/linebender/druid.git", features = ["im", "svg"], rev = "1801164629800938ba1316e5b58c5383641fdea6" }
octorust = { version = "0.1.33", optional = true }
serde = { version = "1", features = ["derive"] }
task-hookrs = { version = "0.7.0", optional = true}
toml = "0.5.8"
smol = "1.2.5"
async-compat = { version = "0.2", optional = true }
futures = "0.3"
surf = { version = "2.3", optional = true }
base64 = { version = "0.13", optional = true }
gitlab = { version = "0.1403.0", optional = true }
enum_dispatch = "0.3.7"
pulldown-cmark = "0.8.0"
open = "2.0.1"
jira-parser = { path = "jira-parser", optional = true }
druid-widget-nursery = { git = "https://github.com/linebender/druid-widget-nursery" }
serde_repr = { version = "0.1", optional = true }