[workspace]
members = [
    ".",
    "jira-parser",
    "ews-calendar"
]

[package]
name = "sidenotes"
version = "0.1.0"
edition = "2018"
license = "GPL-3.0"

[features]
default = ["p_github", "p_jira", "p_joplin", "p_gitlab", "p_taskwarrior", "p_upsource", "p_nextcloud", "p_confluence", "c_ews"]
p_github = ["octorust", "async-compat"]
p_gitlab = ["gitlab", "async-compat"]
p_jira = ["surf", "base64", "jira-parser"]
p_confluence = ["surf", "base64"]
p_joplin = ["surf"]
p_taskwarrior = ["task-hookrs"]
p_upsource = ["surf", "serde_repr"]
p_nextcloud = ["surf", "base64"]
c_ews = ["ews-calendar"]

[dependencies]
directories-next = "2.0.0"
tracing = "0.1"
anyhow = "1"
druid = { git = "https://github.com/linebender/druid.git", features = ["im", "svg"], rev = "2f5beb8faba648c170a485b8d6a00d0d991a1737" }
octorust = { version = "0.1.33", optional = true }
serde = { version = "1", features = ["derive"] }
task-hookrs = { version = "0.7.0", optional = true}
toml = "0.5.8"
smol = "1.2.5"
async-compat = { version = "0.2", optional = true }
futures = "0.3"
surf = { version = "2.3", optional = true }
base64 = { version = "0.13", optional = true }
gitlab = { version = "0.1403.0", optional = true }
enum_dispatch = "0.3.7"
pulldown-cmark = "0.8.0"
open = "2.0.1"
jira-parser = { path = "jira-parser", optional = true }
druid-widget-nursery = { git = "https://github.com/linebender/druid-widget-nursery", rev = "6d5dfc548603a45f307cfc1fde9b9d5f49863b49" }
serde_repr = { version = "0.1", optional = true }
im = { version = "15", features = ["serde"] }
ews-calendar = { path = "ews-calendar", optional = true }
chrono = "0.4.19"
once_cell = "1.9"

[package.metadata.cargo-all-features]
skip_optional_dependencies = true
