<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}"/>
<link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}"/>
<meta property="og:type" content="website" >
<meta property="og:title" content="Sidenotes" >
<meta property="og:description" content="Show todos from different sources in a sidebar like app" >
<meta property="og:image" content="{{ '/assets/img/logo.svg' | relative_url }}"/>
<style>
    section img {
        border-radius: 4px;
        box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
    }
</style>
